@page
@using Astro.Services;

@model IndexModel

@inject ComponentHelper ComponentHelper;

@{
  ViewData["Title"] = "Home page";

  string links = await ComponentHelper.GetHtmlAsync();
}

<div class="text-center">
  <h1 class="display-4">Astro Demo</h1>

  @Html.Raw(links)

</div>
